@font-face {
    font-family: 'Kakao';
    src: url('../../assets/fonts/KakaoBold.woff2') format('woff2'),
        url('../../assets/fonts/KakaoBold.woff') format('woff'),
        url('../../assets/fonts/KakaoBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kakao';
    src: url('../../assets/fonts/KakaoLight.woff2') format('woff2'),
        url('../../assets/fonts/KakaoLight.woff') format('woff'),
        url('../../assets/fonts/KakaoLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kakao';
    src: url('../../assets/fonts/KakaoRegular.woff2') format('woff2'),
        url('../../assets/fonts/KakaoRegular.woff') format('woff'),
        url('../../assets/fonts/KakaoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

