@use '../../styles/partials/color' as *;
@use '../../styles/partials/mixins' as *;

.friends{
    @include screen;
    display: flex;
    border: 1.2px solid rgba(190, 190, 190, 0.705);
    position: relative;
    
    &__content{
        display: flex;
        flex-direction: column;
        padding: .8rem 1.5rem;
        margin-top: 4rem;
        width: 100%;
    overflow-y: scroll;

    }
    
    &__title{
        position: absolute;
        top: 1rem;
        font-size: 1.1rem;
    }

    &__add{
        position: absolute;
        top: 1.4rem;
        right: 1.4rem;
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        cursor: pointer;

        &:hover{
            transform: scale(1.05);
        }

        &-field{
            padding-bottom: 1rem;
        }

        &-title{
            font-size: 1rem;
            font-weight: 300;
        }

        &-input{
            padding: .2rem;
            margin-right: .5rem;
            width: 70%;
            border: 1px solid rgba(190, 190, 190, 0.505);
            border-radius: 5px;
        }

        &-btn{
            padding: .2rem .5rem;
            width: 20%;
            border: 1px solid rgba(190, 190, 190, 0.505);
            border-radius: 5px;

        }

        &-status{
            display: block;
            margin: 1rem 0 .3rem 0;
            width: 100%;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 300;
        }

    }

    &__list{
        width: 100%;
    }

    &__item{
        display: flex;
        align-items: center;
        margin: .5rem 0;
    }

    &__me{
        border-bottom: .5px solid rgba(190, 190, 190, 0.505);
    }

    &__profile{
        width: 50px;
        height: 50px;
        background-color: black;
        border-radius: 20px;
        margin-right: .8rem;

        &--me{
            width: 60px;
            height: 60px;
        }
    }

    &__name{
        font-size: .9rem;
    }
    

    &__second-title{
        font-size: .8rem;
        color: rgba(75, 75, 75, 0.705);
        font-weight: 300;

    }
}